<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Salute a Soldier</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/bootstrap-responsive.min.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/common")
</head>
    <body>
        <div class="navbar">
        <div class="navbar-inner">
			<a class="brand" href="#">Salute a Soldier</a>
            <ul class="nav">
                <li><a href="@Url.Action("SendMessage")">Home</a></li>
                <li><a href="@Url.Action("ViewMessages")">Messages</a></li>
                <li><a href="@Url.Action("ScreenMessages")">Screen</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Sign up</a></li>
                <div class="btn-group">
							<a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i>Select User</a>
							<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Demo Civilian</a></li>
								<li><a href="#">Demo Veteran</a></li>
								<li><a href="#">Demo Active Duty</a></li>
							</ul>
				</div>
            </ul>
		</div>
	    </div>
        @RenderBody()

        @RenderSection("scripts", required: false)
    </body>
</html>
