<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Salute a Soldier</title>
    <link rel="shortcut icon" href="Images/salute.jpg"/>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/bootstrap-responsive.min.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/common")
</head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#"><img src="Images/salute.jpg"/> Salute a Soldier</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="@Url.Action("SendMessage")">Home</a></li>
                            <li><a href="@Url.Action("ViewMessages")">Messages</a></li>
                            <li><a href="@Url.Action("ScreenMessages")">Screen</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Sign up</a></li>
                            <li style="border-width: 10px"><select>
                                    <option>Demo Civilian</option>
                                    <option>Demo Veteran</option>
                                    <option>Demo Active Duty</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
	    </div>
        @RenderBody()

        @RenderSection("scripts", required: false)
    </body>
</html>
